<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="br.com.pokedex.pokemons.list.activity.PokemonsListActivity">
            <meta-data
                android:name="addressable"
                android:value="true" />
        </activity>
        <activity android:name="br.com.pokedex.pokemons.details.activity.PokemonDetailsActivity" />
    </application>
</manifest>